    

            
        h1{
            color: chartreuse;
            font-size: 50px;
            background-color: rgb(112, 75, 147);
            border-radius: 20px solid rgb(0, 0, 0) 40px 20px;

        }
        p {
            color: blue;
            font-size: 6px;
            background-color: rgb(255, 255, 0);
            border: 2px solid rgb(214, 210, 0);
            border-radius: 10px;
        }
        
        #manar {
            color: red;
            font-size: 30px;
            background-color: navy;
            border: 2px dotted rgb(0, 0, 0);
        }
        #Bb {
            color: green;
            font-size: 30px;
            background-color: rgb(255, 0, 0);
            border: 2px solid rgb(0, 0, 0);
        text-decoration: none;
        }
        
        .topics {
            color: rgba(211, 33, 33, 0.916);
            font-size: 40px;
            background-color: rgb(255, 255, 0);
            border: 2px solid black;
            border-radius: 10px;
            padding: 10px;
        }

        #ff {
            color: #c02075;
            font-size: 30px;
            background-color: royalblue;
            border-radius: 10px ;
            text-decoration: none;
            border: 2px solid black;
        }
            
        
    h2,p { 
            background-color: blueviolet;
    }

    
    a:hover {
            background-color: rgb(132, 35, 35) !important;
            color: white;
            font-size: 20px;}
            
        
        
            